.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  color: #070707;
  height: 100vh;
  /* background-color: aliceblue; */
  background: url('/public/giphy2.gif') no-repeat center center/cover;

}

.formWrapper {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  height: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #4aee88;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 50px;
  margin-top: 10px;
}

.homePageLogo {
  height: 80px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background: #000000;
  width: 100px;
  margin-left: auto;
  color: #eee;
}

.joinBtn:hover,
.leaveBtn:hover {
  background: #a709e0;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #bc36b4;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #368654;
  border-color: #368654;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside {
  background: rgb(255, 255, 255);
  padding: 16px;
  color: #000000;
  display: flex;
  /* flex-direction: column; */
  
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}
.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

.downloadBtn {
  margin-top: 10px;
  padding: 10px;
  background-color: #4aed88;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.downloadBtn:hover {
  background-color: #38c172;
}

.heroTextContainer {
  flex: 1; /* Takes up remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background: url('/public/giphy2.gif') no-repeat center center/cover; */
  
}

.heroText {
  font-size: 140px; /* Adjust as needed */
  font-weight: bold;
  text-align: left;
  background: linear-gradient(45deg, #ffffff, #c1d9e4); /* Gradient color */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  text-shadow: #070707;
}
